body {
    font-family: sans-serif; /*font-size:12px;*/

}

#content {
    width: 12cm;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    color: #008b8b;
}

#content h1 {
    font-size:large;
}

#content h2 {
    font-size:medium;
}

#content h3 {
    font-size:small;
}

#content p {
    font-size:small;
}

#content ul {
    list-style:square;
}

#content a {
    text-decoration: none;
    color: #008b8b;
}

#content a:hover {
    color: white;
    background-color: #008b8b;
}

#message {
    font-style:italic;
}

#form {
    text-align: center; /*width:10cm;*/
    color: #008b8b;
}

#form table {
    color: #008b8b;
}

table.help {
    color: #008b8b;
}

table.help th {
    text-align:left;
    vertical-align:top;
    font-size:small;
}

table.help td {
    text-align:left;
    vertical-align:top;
    font-size:small;
}

pre {
    overflow-x:scroll;
    border:#8fbc8f solid thin;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
}

div.img {
    text-align:center;
}

/* *** Header ****************************************** */
#header {
    background-color: #add8e6;
    color: white;
    height: 15mm;
    text-align: center;
}

#header h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: xx-large;
}

#header p {
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
    font-size: small;
}

#header a, a:visited {
    text-decoration: none;
    color: white;
}

#header a:hover {
    color: #008b8b;
}

.filler {
    width: 8mm;
}

/* *** Footer ****************************************** */
#footer {
    font-size: smaller;
    color: #add8e6;
    text-align: center;
}

#footer a, a:visited {
    text-decoration: none;
    color: #add8e6;
}

#footer a:hover {
    color: #008b8b;
}

#footer hr {
    border: 0;
    width: 90%;
    color: #add8e6;
    background-color: #add8e6;
}

